*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.tmp/
/target/
/shopping_cart/target/

#NetBeans
nbactions.xml
/shopping_cart/nb-configuration.xml



#Bower
/shopping_cart/src/main/webapp/bower_components/
